.dashboard-wrapper {
  .page-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .info {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;

    * {
      flex: 1 1 0;
      width: 0;
      padding-right: 10px;
    }

    *:last-child {
      padding-right: 0;
    }
  }
  .employees {
    height: 100%;

    .table {
      height: calc(100vh - 300px);
      overflow: auto;
      width: 100%;
    }

    .buttons {
      display: flex;
      justify-content: end;
      padding: 10px;
    }
  }
}
