.header {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .title {
    width: 960px;
    margin: auto;
    h1 {
      font-size: 24px;
      font-weight: 600;
      margin: 0;
    }
  }
}
